$tiffany: #6DDBCA;
$grey: #9D9D9D;

.small-font {
  font-size: 12px;
}

.plane-icon {
  color: $tiffany;
}

.card-border-top {
  border-top: 1px solid rgba(157, 157, 157, 0.3) ;
}

.booking-title {
  margin: 30px auto;
}

.bottom-price {
  border-top: 1px dashed rgba(139, 224, 218, 1);
  padding: 9px;
}

.reverse-plane {
  transform: scaleX(-1);
}


.price {
  border: 1px solid #6DDBCA;
}

.btn-pay {
  font-family: 'Roboto', sans-serif;
  background-color: $tiffany;
  font-weight: bold;
  color: white;
  // padding: 16px 25px;
  text-align: center;
  transition: .2s;
  &:hover {
    opacity: 1;
  }
}


.total-price {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-weight: bold;
  // color: #4B4C4C;
  color: black;
  padding: 16px 25px;
  text-align: center;
  margin: 0px;
}

.price-next {
  // top: 0px;
  // position: sticky;
  height: 40px;
}

.flights {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

.breakdown-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.booking-link {
  background-color: $tiffany;
  margin: 0px;
  padding: 16px 25px;
  transition: .2s;
  &:hover {
    transform: translateY(3px);
    box-shadow: 2px 10px 20px rgba(1, 1, 1, 0.2);
  }
}

a:hover {
  text-decoration: none;
  color: white;
}

.ml-1, .mx-1 {
  margin-left: 0px !important;
}

.boarding-card {
  background-color: white;
  border: solid 1px lightgrey;
  border-radius: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 10px;
}
.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.total-cost {
  align-items: center;
  text-align: center;
}
.flight-details {
  width: 42%;
  align-items: center;
  text-align: center;
}
.total-cost {
  border: 1px solid #6DDBCA;
  width: 12vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchor {
  position: relative;
  // background-color: #D4F3EF;
  // z-index: 0;
}

.flight-highlighter {
  width: 111%;
  height: 357px;
  position: absolute;
  left: -70px;
  background: #d4f3ef;
  // z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.best-deal {
  padding: 0 20px;
  margin: 0;
  color: black;
}

.high-z-index {
  z-index: 1;
}

.city-table {
  z-index: 1;
}

.align-dates {

}

.width-100 {
  width: 100%
}

.price-2-small-boxes:hover {
  // transition: .2s;
  transform: scale(1.25);
  cursor: pointer;
}

.small-plane-icon {
  color: $tiffany;
  font-size: 20px;
  padding: 0px 20px;
}

.passenger-pay {
  background-color: white;
  border: solid 1px lightgrey;
  padding: 30px;
  border-radius: 15px;
  height: 51%;
  position: sticky;
  top: 0;
  width: 300px;
}

.passenger-holder {
  min-height: 120vh;
}
