$tiffany: #6DDBCA;
$grey: #9D9D9D;


.booking-title {
  margin: 30px auto;
}

.selected {
  // border: 5px solid red;
  background-color: #9D9D9D;
  opacity: .65;
}

.price {
  border: 1px solid #6DDBCA;
}

.btn-pay {
  font-family: 'Roboto', sans-serif;
  background-color: $tiffany;
  font-weight: bold;
  color: white;
  padding: 16px 25px;
  opacity: 0.9;
  text-align: center;
}

.total-price {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-weight: bold;
  color: #4B4C4C;
  padding: 16px 25px;
  opacity: 0.9;
  text-align: center;
}

.price-next {
  position: -webkit-sticky;
  position: sticky;
}

.anchor {
  position: relative;
  background-color: #D4F3EF;
  z-index: 0;
}

.flight-highlighter {
  width: 125%;
  height: 75px;
  position: absolute;
  top: 17px;
  left: -40px;
  background: #6DDBCA;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.best-deal {
  padding: 0 20px;
  margin: 0;
  color: black;
}

.high-z-index {
  z-index: 3;
}
