
.confirmation-box {
  background-color: white;
  height: auto;
  width: 800px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 16px;
  border-radius: 5px;
  padding-top: 48px;
  padding-right:  16px;
  padding-left:  16px;
  padding-bottom:  24px;
  margin: 5% auto;
  z-index: 3;

   h2 {
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: $blue;
   }
}

.rain {
background: #82addb; /* Old browsers */
background: -moz-linear-gradient(top,  #82addb 0%, #ebb2b1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82addb), color-stop(100%,#ebb2b1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #82addb 0%,#ebb2b1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #82addb 0%,#ebb2b1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #82addb 0%,#ebb2b1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #82addb 0%,#ebb2b1 100%); /* W3C */
      width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#weather-box {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index:0;
  left: 0;
  top: 0;
    opacity: 0;
    pointer-events: none;
  animation: its-now-raining 20s infinite;
}
.overcast {
      position: fixed;
   width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background:rgba(0,0,0,0);
    // animation: its-now-dark 20s infinite;
}

@keyframes its-now-dark {
  0% {
  background:rgba(0,0,0,0);
  }
    50% {
  background:rgba(7, 58, 112,0.6);
  }
  100% {
  background:rgba(0,0,0,0);
  }
}

@keyframes its-now-raining {
  0% {
    opacity:0;
  }
    50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

#the-rain {
          transform: rotate(-20deg);
}

@-webkit-keyframes its-raining {
  0% {
    margin-top: -740px;
  }
  100% {
    margin-top: -500px;
  }
}

@keyframes its-raining {
  0% {
    margin-top: -740px;
  }
  100% {
    margin-top: -500px;
  }
}
.rain-cloud {
          animation: its-raining 0.85s infinite linear;
  position: absolute;
  right: -500px;
}

.rain-cloud:nth-child(2) {
          animation-duration: 0.765s;
  margin-left: 40px;
}
.rain-cloud:nth-child(3) {
          animation-duration: 1.19s;
  margin-left: 75px;
}

.rain-stream {
  display: inline-block;
  vertical-align: top;
  margin: 0px 50px;
}

.rain-drop {
  width: 2px;
  height: 30px;
  background: #fff;
  border-radius: 100px;
  position: relative;
  margin-top: 60px;
  opacity: 0.25;
}

.cloud1 {
  position: relative;
  top: 18%;
  left: -230px;
  width: 200px;
  height: 100px;
  background: #ffffff;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%, #ffffff), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #ffffff 59%, #ededed 100%);
  /* W3C */

  /* IE6-9 fallback on horizontal gradient */

  opacity: 0.9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px / 50px;
  animation: cloud1-move linear 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: cloud1-move linear 10s;
    -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: cloud1-move linear 10s;
      -moz-animation-delay: 0s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: cloud1-move linear 10s;
      -o-animation-delay: 0s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: cloud1-move linear 10s;
      -ms-animation-delay: 0s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

.cloud1::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 50px;
  background: #ffffff;
  box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.1);
  top: -8px;
  left: 17px;
  border-radius: 50%;
}

.cloud1::after {
  content: '';
  position: absolute;
  width: 110px;
  height: 80px;
  background: #ffffff;
  box-shadow: 4px -3px 4px rgba(0, 0, 0, 0.1);
  top: -23px;
  left: 71px;
  border-radius: 50%;
}

.cloud2 {
  position: relative;
  top: 36%;
  left: -315px;
  width: 300px;
  height: 150px;
  background: #ffffff;
  z-index: 999;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%, #ffffff), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #ffffff 59%, #ededed 100%);
  /* W3C */

  /* IE6-9 fallback on horizontal gradient */

  opacity: 0.9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 200px / 70%;
  animation: cloud2-move linear 14s;
      animation-delay: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: cloud2-move linear 14s;
      -webkit-animation-delay: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: cloud2-move linear 14s;
        -moz-animation-delay: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: cloud2-move linear 14s;
        -o-animation-delay: 1.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: cloud2-move linear 14s;
        -ms-animation-delay: 1.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

.cloud2::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 100px;
  background: #ffffff;
  box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.2);
  top: -25px;
  left: 19px;
  border-radius: 50%;
}

.cloud2::after {
  content: '';
  position: absolute;
  width: 220px;
  height: 160px;
  background: #ffffff;
  box-shadow: 4px -3px 4px rgba(0, 0, 0, 0.1);
  top: -53px;
  left: 58px;
  border-radius: 50%;
}

.cloud3 {
  position: relative;
    top: 57%;
  left: -265px;
  width: 250px;
  height: 100px;
  background: #ffffff;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%, #ffffff), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #ffffff 59%, #ededed 100%);
  /* W3C */
  /* IE6-9 fallback on horizontal gradient */

  opacity: 0.9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px / 50px;
  animation: cloud3-move linear 11s;
        animation-delay: 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: cloud3-move linear 11s;
          -webkit-animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: cloud3-move linear 11s;
          -moz-animation-delay: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: cloud3-move linear 11s;
          -o-animation-delay: 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: cloud3-move linear 11s;
          -ms-animation-delay: 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  z-index:5;
}

.cloud3::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 90px;
  background: #ffffff;
  box-shadow: 3px -3px 4px rgba(0, 0, 0, 0.1);
  top: -29px;
  left: 117px;
  border-radius: 50%;
}

.cloud3::after {
  content: '';
  position: absolute;
  width: 110px;
  height: 80px;
  background: #ffffff;
  box-shadow: -4px -3px 4px rgba(0, 0, 0, 0.1);
  top: -13px;
  left: 10px;
  border-radius: 50%;
}

.cloud4 {
  position: relative;
  top: 0%;
  left: -320px;
  width: 300px;
  height: 130px;
  background: #ffffff;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(59%, #ffffff), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #ffffff 59%, #ededed 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #ffffff 59%, #ededed 100%);
  /* W3C */
  /* IE6-9 fallback on horizontal gradient */

  opacity: 0.9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px / 60px;
  animation: cloud4-move linear 14s;
  animation-delay:7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: cloud4-move linear 14s;
  -webkit-animation-delay:7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: cloud4-move linear 14s;
    -moz-animation-delay:7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: cloud4-move linear 14s;
    -o-animation-delay:7s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: cloud4-move linear 14s;
    -ms-animation-delay:7s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
z-index:4;
}

.cloud4::before {
  content: '';
  position: absolute;
  width: 180px;
  height: 150px;
  background: #ffffff;
  box-shadow: 3px -3px 4px rgba(0, 0, 0, 0.1);
  top: -50px;
  left: 17px;
  border-radius: 50%;
}

.cloud4::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background: #ffffff;
  box-shadow: -4px -5px 4px rgba(0, 0, 0, 0.1);
  top: -33px;
  left: 140px;
  border-radius: 50%;
}

.plane {
  width: 200px;
  height: 44px;
  position: relative;
  top: -16%;
  left: 30%;
  background: #cccccc;
  /* Old browsers */

  background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 66%, #eeeeee 66%, #cccccc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(66%, #eeeeee), color-stop(66%, #eeeeee), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #cccccc 0%, #eeeeee 66%, #eeeeee 66%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #cccccc 0%, #eeeeee 66%, #eeeeee 66%, #cccccc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 66%, #eeeeee 66%, #cccccc 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #cccccc 0%, #eeeeee 66%, #eeeeee 66%, #cccccc 100%);
  /* W3C */

  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-bottom-right-radius: 80px;
  -moz-bottom-right-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  transform: rotateX(66deg);
  -ms-transform: rotateX(66deg);
  -moz-transform: rotateX(66deg);
  -webkit-transform: rotateX(66deg);
  -o-transform: rotateX(66deg);
  animation: plane-flight ease-in-out 30s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: plane-flight ease-in-out 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: plane-flight ease-in-out 30s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: plane-flight ease-in-out 30s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: plane-flight ease-in-out 30s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
z-index:3;
}

.cockpit {
  width: 40px;
  height: 18px;
  float: left;
  background: #606c88;
  /* Old browsers */

  background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
  /* W3C */


  /* IE6-9 */

  border-top-left-radius: 50px;
  border-bottom-right-radius: 15px;
}

.plane-windows {
  position: relative;
  left: 10px;
  top: 4px;
  list-style-type: none;
}

.plane-windows li {
  width: 15px;
  height: 13px;
  background: #606c88;
  /* Old browsers */

  background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
  /* W3C */

  /* IE6-9 */

  margin-right: 5px;
  border-radius: 5px;
  float: left;
}

.plane-windows li:nth-child(2n+1) {
  animation-name: lights-on;
  animation-duration: 36s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: lights-on;
  -webkit-animation-duration: 36s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: lights-on;
  -moz-animation-duration: 36s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: lights-on;
  -o-animation-duration: 36s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -ms-animation-name: lights-on;
  -ms-animation-duration: 36s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
}

.plane-windows li:nth-child(3n+1) {
  animation-name: lights-on;
  animation-duration: 19s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: lights-on;
  -webkit-animation-duration: 19s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: lights-on;
  -moz-animation-duration: 19s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: lights-on;
  -o-animation-duration: 19s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -ms-animation-name: lights-on;
  -ms-animation-duration: 19s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
}

.plane-windows li:nth-child(5n+1) {
  animation-name: lights-on;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: lights-on;
  -webkit-animation-duration: 12s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: lights-on;
  -moz-animation-duration: 12s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: lights-on;
  -o-animation-duration: 12s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -ms-animation-name: lights-on;
  -ms-animation-duration: 12s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
}

.plane-windows li:nth-child(7n+1) {
  animation-name: lights-on;
  animation-duration: 26s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: lights-on;
  -webkit-animation-duration: 26s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: lights-on;
  -moz-animation-duration: 26s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: lights-on;
  -o-animation-duration: 26s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  -ms-animation-name: lights-on;
  -ms-animation-duration: 26s;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
}

.wing {
  position: relative;
  left: 62px;
  top: 21px;
  width: 89px;
  height: 10px;
  background: #e5e5e5;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #c4c4c4 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #c4c4c4));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #c4c4c4 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #c4c4c4 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #c4c4c4 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #e5e5e5 0%, #c4c4c4 100%);
  /* W3C */


  /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.tail {
  position: relative;
  left: 172px;
  top: -32px;
  width: 27px;
  height: 23px;
  background: #f7f7f7;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f7f7f7 0%, #cccccc 100%);
  /* W3C */

  /* IE6-9 */

  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  transform: skewX(155deg);
  -ms-transform: skewX(155deg);
  -moz-transform: skewX(155deg);
  -webkit-transform: skewX(155deg);
  -o-transform: skewX(155deg);
}

@keyframes plane-flight {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-58px, -31px);
  }
  40% {
    transform: translate(11px, -40px);
  }
  60% {
    transform: translate(2px, -5px);
  }
  80% {
    transform: translate(-57px, -14px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes plane-flight {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  20% {
    -moz-transform: translate(-58px, -31px);
  }
  40% {
    -moz-transform: translate(11px, -40px);
  }
  60% {
    -moz-transform: translate(2px, -5px);
  }
  80% {
    -moz-transform: translate(-57px, -14px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes plane-flight {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  20% {
    -webkit-transform: translate(-58px, -31px);
  }
  40% {
    -webkit-transform: translate(11px, -40px);
  }
  60% {
    -webkit-transform: translate(2px, -5px);
  }
  80% {
    -webkit-transform: translate(-57px, -14px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-o-keyframes plane-flight {
  0% {
    -o-transform: translate(0px, 0px);
  }
  20% {
    -o-transform: translate(-58px, -31px);
  }
  40% {
    -o-transform: translate(11px, -40px);
  }
  60% {
    -o-transform: translate(2px, -5px);
  }
  80% {
    -o-transform: translate(-57px, -14px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}

@-ms-keyframes plane-flight {
  0% {
    -ms-transform: translate(0px, 0px);
  }
  20% {
    -ms-transform: translate(-58px, -31px);
  }
  40% {
    -ms-transform: translate(11px, -40px);
  }
  60% {
    -ms-transform: translate(2px, -5px);
  }
  80% {
    -ms-transform: translate(-57px, -14px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}

@keyframes cloud1-move {
  0% {
    transform: translate(-230px, 2px);
  }
  100% {
    transform: translate(2200px, 37px);
  }
}

@-moz-keyframes cloud1-move {
  0% {
    -moz-transform: translate(-230px, 2px);
  }
  100% {
    -moz-transform: translate(2200px, 37px);
  }
}

@-webkit-keyframes cloud1-move {
  0% {
    -webkit-transform: translate(-230px, 2px);
  }
  100% {
    -webkit-transform: translate(2200px, 37px);
  }
}

@-o-keyframes cloud1-move {
  0% {
    -o-transform: translate(-230px, 2px);
  }
  100% {
    -o-transform: translate(2200px, 37px);
  }
}

@-ms-keyframes cloud1-move {
  0% {
    -ms-transform: translate(-230px, 2px);
  }
  100% {
    -ms-transform: translate(2200px, 37px);
  }
}

@keyframes cloud2-move {
  0% {
    transform: translate(-315px, 21px);
  }
  100% {
    transform: translate(2200px, -55px);
  }
}

@-moz-keyframes cloud2-move {
  0% {
    -moz-transform: translate(-315px, 21px);
  }
  100% {
    -moz-transform: translate(2200px, -55px);
  }
}

@-webkit-keyframes cloud2-move {
  0% {
    -webkit-transform: translate(-315px, 21px);
  }
  100% {
    -webkit-transform: translate(2200px, -55px);
  }
}

@-o-keyframes cloud2-move {
  0% {
    -o-transform: translate(-315px, 21px);
  }
  100% {
    -o-transform: translate(2200px, -55px);
  }
}

@-ms-keyframes cloud2-move {
  0% {
    -ms-transform: translate(-315px, 21px);
  }
  100% {
    -ms-transform: translate(2200px, -55px);
  }
}

@keyframes cloud3-move{
  0% {
    transform:  translate(-265px,21px)  ;
  }
  100% {
    transform:  translate(2200px,-55px)  ;
  }
}

@-moz-keyframes cloud3-move{
  0% {
    -moz-transform:  translate(-265px,21px)  ;
  }
  100% {
    -moz-transform:  translate(2200px,-55px)  ;
  }
}

@-webkit-keyframes cloud3-move {
  0% {
    -webkit-transform:  translate(-265px,21px)  ;
  }
  100% {
    -webkit-transform:  translate(2200px,-55px)  ;
  }
}

@-o-keyframes cloud3-move {
  0% {
    -o-transform:  translate(-265px,21px)  ;
  }
  100% {
    -o-transform:  translate(2200px,-55px)  ;
  }
}

@-ms-keyframes cloud3-move {
  0% {
    -ms-transform:  translate(-265px,21px)  ;
  }
  100% {
    -ms-transform:  translate(2200px,-55px)  ;
  }
}

@keyframes cloud4-move{
  0% {
    transform:  translate(-265px,21px)  ;
  }
  100% {
    transform:  translate(2200px,55px)  ;
  }
}

@-moz-keyframes cloud4-move{
  0% {
    -moz-transform:  translate(-265px,21px)  ;
  }
  100% {
    -moz-transform:  translate(2200px,55px)  ;
  }
}

@-webkit-keyframes cloud4-move {
  0% {
    -webkit-transform:  translate(-265px,21px)  ;
  }
  100% {
    -webkit-transform:  translate(2200px,55px)  ;
  }
}

@-o-keyframes cloud4-move {
  0% {
    -o-transform:  translate(-265px,21px)  ;
  }
  100% {
    -o-transform:  translate(2200px,55px)  ;
  }
}

@-ms-keyframes cloud4-move {
  0% {
    -ms-transform:  translate(-265px,21px)  ;
  }
  100% {
    -ms-transform:  translate(2200px,55px)  ;
  }
}

@keyframes lights-on {
  0% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
  50% {
    background: #c9a700;
    /* Old browsers */

    background: -moz-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9a700), color-stop(100%, #f1da36));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #c9a700 0%, #f1da36 100%);
    /* W3C */


    /* IE6-9 */
  }
  100% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
}

@-webkit-keyframes lights-on {
  0% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */

    /* IE6-9 */
  }
  50% {
    background: #c9a700;
    /* Old browsers */

    background: -moz-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9a700), color-stop(100%, #f1da36));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #c9a700 0%, #f1da36 100%);
    /* W3C */


    /* IE6-9 */
  }
  100% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
}

@-moz-keyframes lights-on {
  0% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
  50% {
    background: #c9a700;
    /* Old browsers */

    background: -moz-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9a700), color-stop(100%, #f1da36));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #c9a700 0%, #f1da36 100%);
    /* W3C */


    /* IE6-9 */
  }
  100% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
}

@-o-keyframes lights-on {
  0% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
  50% {
    background: #c9a700;
    /* Old browsers */

    background: -moz-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9a700), color-stop(100%, #f1da36));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #c9a700 0%, #f1da36 100%);
    /* W3C */


    /* IE6-9 */
  }
  100% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
}

@-ms-keyframes lights-on {
  0% {
    // background: #606c88;
    // /* Old browsers */

    // background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    // background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    // /* Opera 11.10+ */

    // background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    // /* IE10+ */

    // background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    // /* W3C */


    /* IE6-9 */
  }
  50% {
    background: #c9a700;
    /* Old browsers */

    background: -moz-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9a700), color-stop(100%, #f1da36));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #c9a700 0%, #f1da36 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #c9a700 0%, #f1da36 100%);
    /* W3C */


    /* IE6-9 */
  }
  100% {
    background: #606c88;
    /* Old browsers */

    background: -moz-linear-gradient(top, #606c88 0%, #223768 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #223768));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #606c88 0%, #223768 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #606c88 0%, #223768 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #606c88 0%, #223768 100%);
    /* W3C */


    /* IE6-9 */
  }
}

.stealth-body {
  width: 124px;
  height: 100px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}
.stealth-body:after {
content: "";
    position: absolute;
    width: 98px;
    height: 24px;
    background: #0e0e0e;
    background: -moz-linear-gradient(45deg, #0e0e0e 0%, #7d7e7d 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0e0e0e), color-stop(100%,#7d7e7d));
    background: -webkit-linear-gradient(45deg, #0e0e0e 0%,#7d7e7d 100%);
    background: -o-linear-gradient(45deg, #0e0e0e 0%,#7d7e7d 100%);
    background: -ms-linear-gradient(45deg, #0e0e0e 0%,#7d7e7d 100%);
    background: linear-gradient(45deg, #0e0e0e 0%,#7d7e7d 100%);
    transform: rotate(15deg);
    top: 90px;
    left: 14px;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}


.stealth-window {
    width: 34px;
    height: 95px;
    position: relative;
    overflow: hidden;
    z-index: 99;
    top: 90px;
    left: 16px;

}
.stealth-window:after {
    content: "";
    position: absolute;
    width: 28px;
    height: 24px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
background: #a7cfdf; /* Old browsers */
background: -moz-linear-gradient(45deg,  #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  #a7cfdf 0%,#23538a 100%); /* IE10+ */
background: linear-gradient(45deg,  #a7cfdf 0%,#23538a 100%); /* W3C */

    top: 90px;
    left: 14px;
}
.stealth1 {
  position: relative;
  top:-65px;
  left:90px;
    animation: stealth-shake linear 0.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: stealth-shake linear 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: stealth-shake linear 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: stealth-shake linear 0.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: stealth-shake linear 0.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.stealth2 {
  position: relative;
  top:-265px;
    animation: stealth-shake linear 0.3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: stealth-shake linear 0.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: stealth-shake linear 0.3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: stealth-shake linear 0.3s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: stealth-shake linear 0.3s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.stealth3 {
  position: relative;
  top:-445px;
  left:-10px;
    animation: stealth-shake linear 0.2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: stealth-shake linear 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: stealth-shake linear 0.2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: stealth-shake linear 0.2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: stealth-shake linear 0.2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}
.stealth-group {
      position: relative;
    top: -428px;
    left: -245px;
  animation: stealth-move linear 16s;
        animation-delay: 14s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: stealth-move linear 16s;
          -webkit-animation-delay: 14s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: stealth-move linear 16s;
          -moz-animation-delay: 14s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: stealth-move linear 16s;
          -o-animation-delay: 14s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: stealth-move linear 16s;
          -ms-animation-delay: 14s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes stealth-move {
  0% {
    transform:  translate(-428px,22px)  ;
  }
  100% {
    transform:  translate(11200px,22px)  ;
  }
}

@-moz-keyframes stealth-move {
  0% {
    -moz-transform:   translate(-428px,22px)  ;
  }
  100% {
    -moz-transform:  translate(11200px,22px)  ;
  }
}

@-webkit-keyframes stealth-move {
  0% {
    -webkit-transform:   translate(-428px,22px)  ;
  }
  100% {
    -webkit-transform: translate(11200px,22px)  ;
  }
}

@-o-keyframes stealth-move {
  0% {
    -o-transform:  translate(-428px,22px)  ;
  }
  100% {
    -o-transform:  translate(11200px,22px)  ;
  }
}

@-ms-keyframes stealth-move {
  0% {
    -ms-transform:  translate(-428px,22px)  ;
  }
  100% {
    -ms-transform:  translate(11200px,22px)  ;
  }
}
@keyframes stealth-shake{
  0% {
    transform:  translate(0px,0px)  ;
  }
  10% {
    transform:  translate(-3px,1px)  ;
  }
  20% {
    transform:  translate(3px,1px)  ;
  }
  30% {
    transform:  translate(-3px,0px)  ;
  }
  40% {
    transform:  translate(3px,1px)  ;
  }
  50% {
    transform:  translate(-3px,1px)  ;
  }
  60% {
    transform:  translate(3px,1px)  ;
  }
  70% {
    transform:  translate(-3px,0px)  ;
  }
  80% {
    transform:  translate(3px,1px)  ;
  }
  89% {
    transform:  translate(-2px,1px)  ;
  }
  90% {
    transform:  translate(-3px,1px)  ;
  }
  100% {
    transform:  translate(0px,1px)  ;
  }
}

@-moz-keyframes stealth-shake{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  10% {
    -moz-transform:  translate(-3px,1px)  ;
  }
  20% {
    -moz-transform:  translate(3px,1px)  ;
  }
  30% {
    -moz-transform:  translate(-3px,0px)  ;
  }
  40% {
    -moz-transform:  translate(3px,1px)  ;
  }
  50% {
    -moz-transform:  translate(-3px,1px)  ;
  }
  60% {
    -moz-transform:  translate(3px,1px)  ;
  }
  70% {
    -moz-transform:  translate(-3px,0px)  ;
  }
  80% {
    -moz-transform:  translate(3px,1px)  ;
  }
  89% {
    -moz-transform:  translate(-2px,1px)  ;
  }
  90% {
    -moz-transform:  translate(-3px,1px)  ;
  }
  100% {
    -moz-transform:  translate(0px,1px)  ;
  }
}

@-webkit-keyframes stealth-shake {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  10% {
    -webkit-transform:  translate(-3px,1px)  ;
  }
  20% {
    -webkit-transform:  translate(3px,1px)  ;
  }
  30% {
    -webkit-transform:  translate(-3px,0px)  ;
  }
  40% {
    -webkit-transform:  translate(3px,1px)  ;
  }
  50% {
    -webkit-transform:  translate(-3px,1px)  ;
  }
  60% {
    -webkit-transform:  translate(3px,1px)  ;
  }
  70% {
    -webkit-transform:  translate(-3px,0px)  ;
  }
  80% {
    -webkit-transform:  translate(3px,1px)  ;
  }
  89% {
    -webkit-transform:  translate(-2px,1px)  ;
  }
  90% {
    -webkit-transform:  translate(-3px,1px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,1px)  ;
  }
}

@-o-keyframes stealth-shake {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  10% {
    -o-transform:  translate(-3px,1px)  ;
  }
  20% {
    -o-transform:  translate(3px,1px)  ;
  }
  30% {
    -o-transform:  translate(-3px,0px)  ;
  }
  40% {
    -o-transform:  translate(3px,1px)  ;
  }
  50% {
    -o-transform:  translate(-3px,1px)  ;
  }
  60% {
    -o-transform:  translate(3px,1px)  ;
  }
  70% {
    -o-transform:  translate(-3px,0px)  ;
  }
  80% {
    -o-transform:  translate(3px,1px)  ;
  }
  89% {
    -o-transform:  translate(-2px,1px)  ;
  }
  90% {
    -o-transform:  translate(-3px,1px)  ;
  }
  100% {
    -o-transform:  translate(0px,1px)  ;
  }
}

@-ms-keyframes stealth-shake {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  10% {
    -ms-transform:  translate(-3px,1px)  ;
  }
  20% {
    -ms-transform:  translate(3px,1px)  ;
  }
  30% {
    -ms-transform:  translate(-3px,0px)  ;
  }
  40% {
    -ms-transform:  translate(3px,1px)  ;
  }
  50% {
    -ms-transform:  translate(-3px,1px)  ;
  }
  60% {
    -ms-transform:  translate(3px,1px)  ;
  }
  70% {
    -ms-transform:  translate(-3px,0px)  ;
  }
  80% {
    -ms-transform:  translate(3px,1px)  ;
  }
  89% {
    -ms-transform:  translate(-2px,1px)  ;
  }
  90% {
    -ms-transform:  translate(-3px,1px)  ;
  }
  100% {
    -ms-transform:  translate(0px,1px)  ;
  }
}

