
$tiffany: #6DDBCA;

.new-user-input {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;

}

.form-styling {
   background-color: rgba(109, 219, 202, 0.7);
   box-shadow: 0 0 15px rgba(0,0,0,0.3);
   opacity: 0.5;
   border-radius: 15px;
   position: relative;
   width: 800px;
   margin-bottom: 20px;
   padding: 24px 40px;
}

// .new-dog-input .btn-cancel {
//   position: absolute;
//   right: 220px;
//   bottom: -196px;
// }

// .new-payment .btn-cancel {

//   position: absolute;
//   right: 220px;
//   bottom: -186px;

// }
