<div class="container">
  <% unless @warning.blank? %>
    <p>No flights found</p>
  <% end %>
  <% @flights.each_with_index do |flight, index| %>
    <p><%= index.zero? ? 'Departing' : 'Returning' %></p>
    <%= flight.departure_city.name %>
  <% end %>

</div>

