<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1495562569060-2eec283d3391?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
</div>

<div class="card-flight">
  <div class="card-flight-font">
    <h2>Departing flight- Fri, 17 May</h2>
    <div class="card-flight-details">
      <p>6:30 - London Gatwick Airport (LGW)</p>
      <div class="d-flex">
        <i class="fas fa-ellipsis-v" style="font-size: 2em"></i>
        <p class="px-3">Travel time: 2 h 10 min</p>
      </div>
      <p>8:40 - Malaga Airport (AGP)</p>
    </div>
    <br>
    <h2>Returning flight- Sun, 19 May</h2>
    <div class="card-flight-details">
      <p>21:40 - Malaga Airport (AGP)</p>

      <div class="d-flex">
        <i class="fas fa-ellipsis-v" style="font-size: 2em"></i>
        <p class="px-3">Travel time: 2 h 10 min</p>
      </div>
      <p>23:40 - London Gatwick Airport (LGW)</p>
    </div>
  </div>
</div>



