$tiffany: #6DDBCA;
$grey: #9D9D9D;

.btn-green-border {
  font-family: 'Roboto', sans-serif;
  border: 0.5mm solid $grey;
  font-weight: lighter;
  border-radius: 18px;
  text-align: none;
  padding: 16px 20px;
  transition: .2s;
  color: $grey;
}

.btn-green-border:hover {
  color: #616665;
  border: 0.5mm solid #616665;
}

.btn-white {
  font-family: 'Roboto', sans-serif;
  color: #817a7a;
  background-color: white;
  font-weight: lighter;
  border-radius: 18px;
  text-align: none;
  padding: 16px 20px;
  border: 1px solid $grey;
  opacity: 1;
}


.btn-treehouse {
  font-family: 'Roboto', sans-serif;
  background-color: $tiffany;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 16px 25px;
  opacity: 0.9;
  text-align: center;
}

.btn-treehouse:hover{
  background-color: $grey;
  text-decoration: none !important;
  transition: .2s;
  transform: translateY(3px);
  box-shadow: 2px 10px 20px rgba(1,1,1,0.2);
  color: white;
}

.btn-treehouse:active{
  transform: translateY(2px);
  box-shadow: 1px 5px 10px rgba(1,1,1,0.2);
}


.btn-treehouse .btn-home {
  font-family: 'Roboto', sans-serif;
  background-color: $tiffany;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  padding: 16px 25px;
  text-align: center;

}

.btn-treehouse .btn-confirmation {
 margin: 20px auto;
}

.btn-link {
  text-decoration: none !important;
}

.card-text-city {
  color: black;
}

.center {
  margin: 0 auto;
}
