$tiffany: #6DDBCA;
$grey: #9D9D9D;

.btn-green-border {
  font-family: 'Roboto', sans-serif;
  border: 0.5mm solid $grey;
  font-weight: lighter;
  border-radius: 18px;
  text-align: none;
  padding: 16px 20px;
  transition: .2s;
  color: $grey;
}

.btn-green-border:hover {
  color: #616665;
  border: 0.5mm solid #616665;
}

.btn-white {
  font-family: 'Roboto', sans-serif;
  color: #817a7a;
  background-color: white;
  font-weight: lighter;
  border-radius: 18px;
  text-align: none;
  padding: 16px 20px;
  border: 1px solid $grey;
  opacity: 1;
}

