.cards{
  margin: 20px auto auto auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 50%;
}

.card {
  background-color: #6DDBCA;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 75px;
}

// .card-grey {
//   background-color: #9D9D9D;
//   display: flex !important;
//   justify-content: center;
//   align-items: center;
// }

.card-body {
    width: 200px;
    height: 100px;
    margin: auto;
}

.card-columns {
  display: inline-grid;
  margin: 50px 20px !important;
}

.card-deck {
  background-color: rgba(109,219,202,.5);
  width: 220px;
  height: 300px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: white;
  // font-size: 24px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 900px;
  margin: 5% auto;
  position: relative
}


.card-flight {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 700px;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  right: 366px;

}

.card-flight-font {
  margin: 48px;

}

.card-flight-details {
  padding-left: 16px;

}
