$tiffany: #6DDBCA;
$grey: #9D9D9D;

.cards{
  margin: 20px auto auto auto;
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.date-card {
  background-color: #D4F3EF;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 250px;
}

.flight-card {
  // background-color: #D4F3EF;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 75px;
}

.flight-card-destinations {
  // background-color: #D4F3EF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  width: 200px;
  height: 300px;
  margin: auto;
  padding: 5px !important;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.price-2-small-boxes {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 90px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.total-text {
  background-color: $tiffany;
  // position: absolute;
  color: white;
  width: 150px;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.total-big-card {
  height: 300px;
}

.card-body-date {
  height: 75px;
  margin: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 224px;
}

.card-columns {
  display: inline-grid;
  margin: 50px 20px !important;
}

.card-deck {
  background-color: rgba(109,219,202,.5);
  width: 220px;
  height: 300px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: white;
  // font-size: 24px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  margin: 5% auto;
  position: relative
}


.card-flight {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  position: absolute;
  z-index: 0;
  top: 88px;
  left: 5%;

}

.card-flight-font {
  margin: 48px;

}

.card-flight-details {
  padding-left: 16px;

}

.card-total-price {
  position: absolute;
  bottom: 24px;
  right: 56px;
}

.summary-card {
  // border-radius: 16px;
  background-color: white;
  // border: 5px solid grey;
  width: 50vw;
  margin: 0 auto
}

@media only screen and (max-width: 600px) {
  .info {
    flex-direction: column;
  }
}

.modal-footer{
  z-index:500;
}

.flight-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-link {
  padding: 0 25px;
  min-width: 200px;
  color: black;
}

.card-text-holder {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}


// .ticket {
//   background: white;
//   width: 200px;
//   margin: auto;
//   padding: 16px;
//   position:relative;
//   height:300px;
// }

// .ticket .circle-l {
//     position:absolute;
//     top: 243px;
//     left:-10px;
//     border-radius:50%;
//     width:20px;
//     height:20px;
//     background: #D4F3EF;
//     box-shadow: 0 5px 10px rgba(0,0,0,.1);

// }

// .ticket .circle-r {
//     position:absolute;
//     top:243px;
//     right:-10px;
//     border-radius:50%;
//     width:20px;
//     height:20px;
//     background: #D4F3EF;
//     box-shadow: 0 5px 10px rgba(0,0,0,.1);

// }

// .ticket .line {
//   border: 2px dashed #D4F3EF;
//   position: absolute;
//   top: 236px;
//   width: 100%;
// }

.ticket.selected {
  border: 4px solid $tiffany;
}


.ticket.selected-total {
  border: 4px solid $tiffany;
}

// *********** Ribbon Code *******************

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #d4af37;
  background-color: #d4af37;

}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #d4af37;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.no-border {
  border-top: none !important;
}
