.navbar-lewagon {
  justify-content: space-between;
  padding: 10px 50px;
  width: 100%;

  // background-image: linear-gradient(to right, #FF7010, #FFD50B);
  opacity: 0.9;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  width: 40px;
  font-size: 30px;
}

.navbar-brand{
  position: relative;
}

.dropdown-list {
  z-index: 1;
}

.left-part {
  align-items: center;
  p {
    margin-bottom: 0px;
  }
}
