<div class="section">
  <h1>TravelTetris</h1>
  <%#= render 'form_departing_city' %>
    <div class="video-container">
      <div class="color-overlay"></div>
        <video autoplay loop muted>
            <source src="<%= image_path 'beach_1.mp4' %>" type="video/mp4">
        </video>
    </div>
</div>
<div style="height:400px;width:100%">
    <p></p>
</div>
