

<div class="rain">
  <div class="containeir">
    <div class="confirmation-box">
      <div class="text-center">
        <h2>Congratulation your booking has been confirmed</h2>
        <h2>Thank you for choosing Travel Tetris!</h2>
     </div>
     <br>
      <%= link_to "Check other flights", root_path, class:"btn-treehouse btn-confirmation" %>
    </div>
  </div>
  <div class="overcast"></div>
  <div class="cloud1"></div>
  <div class="cloud2"></div>
  <div class="cloud3"></div>
  <div class="cloud4"></div>
  <div class="plane">
    <div class="cockpit"></div>
    <ul class="plane-windows">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="wing"></div>
    <div class="tail"></div>
  </div>
  <div class="stealth-group">
  <div class="stealth1">
  <div class="stealth-window"></div>
  <div class="stealth-body"></div>
  </div>
  <div class="stealth2">
  <div class="stealth-window"></div>
  <div class="stealth-body"></div>
  </div>
  <div class="stealth3">
  <div class="stealth-window"></div>
  <div class="stealth-body"></div>
  </div>
  </div>
  </div>

  <div id="weather-box">
    <div id='the-rain'>
      <div class='rain-cloud'>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
      </div>
      <div class='rain-cloud'>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
        <div class='rain-stream'>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
          <div class='rain-drop'></div>
        </div>
      </div>
    </div>
  </div>










</div>

<%= content_for :meta_title, "#{@plan.user.email}'s plan to visit #{@plan.city_id} from #{@plan.cities}" %>
<% content_for :meta_description, "Leaving on #{@plan.start_date1}, returning on #{@plan.end_date1} to #{@plan.city1}" %>
<% content_for :meta_image, @plan.city.photo %>

